/* CalculadoraBasica.css */
/* Version 1.0. 29/10/2020. Daniel Pascual Lopez. Universidad de Oviedo */
body{
    background-color:rgb(48, 47, 47) ;
}
#Ciudades {
    flex-wrap: wrap;
    text-align: left;
    padding: 1em;
    border:3px black;
    margin: 20px;
    color: black;
    background-color: whitesmoke;
}
header{
    flex-wrap: wrap;
    text-align: center;

}
h1{
    
    text-align: center;
    color: black;
    background-color: whitesmoke;
    font-size: 5em;
}
#boton{
    text-align: center;
    font-size: 3em;
}
h2 {
    color: black;
    background-color: whitesmoke;
    font-size: 4em;
}
h3 {
    color: black;
    background-color: whitesmoke;
    font-size: 3em;
}
  ul {
    
    border:3px black;
    list-style-type: none;
    width: 500px;
  }
   
   
  li img {
    float: left;
    margin: 0 15px 0 0;
  }
   
 
   
  li {
    font-size: 2em;
    background-color:rgb(221, 221, 221) ; 
    color: black;
    padding: 10px;
    overflow: auto;
  }
   
  li:hover {
    background: #eee;
    cursor: pointer;
  }