/* CalculadoraBasica.css */
/* Version 1.0. 29/10/2020. Daniel Pascual Lopez. Universidad de Oviedo */
body{
    background-color:rgb(240, 181, 71) ;
    color: black;
}

header{
    flex-wrap: wrap;
    text-align: center;

}
h1{
    
    text-align: center;
    color: black;
    background-color: whitesmoke;
    font-size: 5em;
}
#cuerpo {
    flex-wrap: wrap;
    text-align: left;
    padding: 1em;
    border:3px black;
    margin: 20px;
    color: black;
    background-color: whitesmoke;
}